locals {
  environment = terraform.workspace == "default" ? "burendo-prod" : terraform.workspace
  account = {
    "burendo-prod" = "{{accounts.burendo-prod}}"
  }

  tags = {
    Environment = local.environment
    Company     = "Burendo"
    Practice    = "Engineering"
  }
}
